.row
  .col-md-6.col-md-offset-3
    .well.well-sm
      = form_tag(send_email_path, method: "post", :class=>"form-horizontal") do
        %fieldset
          %legend.text-center Write to someone
          / Email input
          .form-group
            %label.col-md-3.control-label{:for => "email"} E-mail
            .col-md-9
              %input#email.form-control{:name => "email", :placeholder => "Your email", :type => "text"}/
          / Subject input
          .form-group
            %label.col-md-3.control-label{:for => "subject"} Subject
            .col-md-9
              %input#subject.form-control{:name => "subject", :placeholder => "What is the subject?", :type => "text"}/
          / Message body
          .form-group
            %label.col-md-3.control-label{:for => "message"} Your message
            .col-md-9
              %textarea#message.form-control{:name => "message", :placeholder => "Please enter your message here...", :rows => "5"}
          / Form actions
          .form-group
            .col-md-12.text-right
              %button.btn.btn-primary.btn-lg{:type => "submit"} Submit